@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face { 
    font-family: "argb"; 
    src: url("../public/assets/ALL-ROUND-GOTHIC-BOLD.OTF"); 
} 
@font-face { 
    font-family: "argblite"; 
    src: url("../public/assets/ALL-ROUND-GOTHIC-BOOK.OTF"); 
} 